# Python
__pycache__/
*.pyc

# Mac
.DS_Store

# Virtual env
.venv/
env/

# Streamlit cache
.streamlit/

# Raw input files (never push)
data_raw/*
!data_raw/
!data_raw/BlinkitVS.xlsx

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Prebuild folder
prebuild/
